.global-nav {
  background-color: #545652;
  color: #bbb;
}

.global-nav a {
  display: inline-block;
  padding: 5px 10px;
}

.global-nav a:hover {
  color: #fff;
}

.page-nav {
  background-color: #f0f6f3;
  padding: 20px 12px;
}

.page-nav .logo {
  width: 130px;
}

.page-nav .link-group a {
  color: #037b82;
  font-size: 14px;
  display: inline-block;
  margin-top: 4px;
  margin-left: 36px;
}

.page-nav .link-group a:hover {
  color: #fff;
  background-color: #037b82;
}

.page-nav .input-box {
  font-size: 0;
  position: relative;
}

.page-nav .input-box .search-input {
  border: 0.5px solid #eee;
  padding: 5px 8px;
  width: 250px;
  outline: 0;
}

.page-nav .input-box .search-input::placeholder {
  color: #ccc;
}

.page-nav .input-box .search-btn {
  background-image: url('https://img3.doubanio.com/f/shire/f71f15922ebd7c0ff0ea0e7a25577529efd8981a/pics/icon/bn_srh_1.png');
  background-repeat: no-repeat;
  width: 13px;
  height: 14px;
  background-color: #fff;
  border: 0;
  position: absolute;
  right: 6px;
  top: 7px;
  outline: 0;
}

.head-title h1 {
  font-weight: 500;
  margin: 40px 0;
  font-size: 25px;
}

.post-list {
  color: #666;
}

.post-list .post-item {
  margin-bottom: 22px;
}

.post-list .post-item .like {
  background-color: #fae9da;
  color: #ca6445;
  padding: 5px;
  text-align: center;
  width: 44px;
  font-size: 12px;
}

.post-list .post-item .preview {
  padding-left: 20px;
  padding-right: 20px;
}

.post-list .post-item .preview .title {
  color: #3377aa;
  margin-bottom: 8px;
  font-size: 14px;
}

.post-list .post-item .preview .title a:hover,
.post-list .post-item .preview .meta a:hover {
  color: #fff;
  background-color: #3377aa;
}

.post-list .post-item .preview .content {
  background-color: #f9f9f9;
  padding: 8px;
}

.post-list .post-item .preview .text {
  font-size: 11px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 2;
  color: #999;
}

.post-list .post-item .preview .meta {
  font-size: 12px;
  padding-bottom: 8px;
  padding-top: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post-list .post-item .preview .meta span:first-child {
  margin-right: 8px;
}

.recomm-list > * {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 300px;
}

.recomm-list .text {
  padding-bottom: 8px;
}

.recomm-list .item {
  padding: 8px;
}

.recomm-list .item .thumb {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.recomm-list .item .preview {
  line-height: 2.1;
}

.recomm-list .item .title a:hover,
.recomm-list .item .join-group a:hover {
  color: #fff;
  background-color: #3377aa;
}

.recomm-list .item .join-group a::before {
  content: '+';
}

.footer .container {
  border-top: 1px solid rgba(0, 0, 0, .1);
  padding-top: 12px;
}

.footer {
  color: #ccc;
}

.footer a {
  color: #3377aa;
}

.footer .right {
  float: right;
}

.footer .right a {
  margin-right: 5px;
}